body{
	background: url(https://source.unsplash.com/ZX3xxcsl8C4) no-repeat center center;
	background-size: cover;
	font-family: 'Merriweather', sans-serif;
}

.header{
	background-color: rgba(0,0,0, 0.4);
	color: #eee;
	padding-bottom: 20px;
}

.header .nav a{
	padding: 10px 30px;
	margin: 0px;
	border-radius: 0px;
	background-color: transparent;
	color: #eee;
}

.header .nav a:hover{
	background-color: #1A77FF;
}

.header ul li{
	margin-top: 30px;
}

.main{
	padding: 30px 0px;
}

.main .blog-post{
	text-align: center;
	color: white;
}

.main .blog-dates{
	background-color: white;
	text-align: center;
	padding: 30px 0px;
}

.main h2{
	text-align: right;
	font-size: 70px;
	color: #fff;
	font-family: 'Merriweather', sans-serif;
}

.main h2 span{
	color: #c48f0e;
}

.main ul li {
	color: white;
}

.footer{
  padding: 20px 0;
  color: #eee;
  background-color: rgba(0,0,0, 0.4);
  font-family: 'Merriweather', sans-serif;
}

.footer h3{
  font-size: 20px;
}

.footer p{
  margin-bottom: 5px;
  font-size: 12px;
}

.footer img{
	width: 24px;
	margin: 10px 10px 0px 0px;
}
